/* Module Localization */

/*
  Allows the overlay to be contained with position: absolute to it's
  respective container
*/

.fluency-localization .fluency-activity-overlay .message {
  opacity: 0;
  position: absolute;
  transition: opacity .3s;
}

  .fluency-localization .fluency-activity-overlay.message-processing .processing,
  .fluency-localization .fluency-activity-overlay.message-success .success,
  .fluency-localization .fluency-activity-overlay.message-error .error {
    opacity: 1;
    z-index: 5;
  }

  /* An error has a bad color background */
/*  .fluency-localization .fluency-activity-overlay.message-error:before {
    background-color: red;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }*/

/* Beg-a-thon button */
.button-donate {
  border: 1px solid #29A2CE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
  transition: box-shadow .5s, scale .4s;
  display: block;
  margin: 40px auto 20px;
  width: 200px;
}

  .button-donate:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    scale: 1.005;
  }
